@model  IEnumerable<PropertyManager.Domain.Entities.PreUser>
@{
    ViewBag.Title = "ViewUsers";
    Layout = "~/Views/Management/_ManagementLayout.cshtml";
}

<h2>Users Ready For Account Creation</h2>
<h3>@ViewBag.ResponseCode</h3>

@{var counter = 1;}
@foreach (var w in Model)
{
    <h2>#@counter) @w.FirstName @w.LastName</h2>
    <h4>Registered: @w.AccountCreationTS</h4>
    <h4>Email: @w.Email</h4>
    <h4>Phone Number: @w.PhoneNumber</h4>
    <br />
    counter += 1;
}

